html, body {
    margin: auto;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.header-container {
    background-color: #1F2937;
    padding: 0 16px;

}

.header-logo, .hero-header{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 400;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul, a {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    padding: 0;
    gap: 16px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6 ;
    border: none;
    color: white;
    padding: 8px 24px;
    margin: 4px 2px;
    border-radius: 8px;
    flex-shrink: 0;
}

.hero-button {
    border: 1px solid #fff;
}

.small {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}


.hero-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
}

img {
    width: 500px;
    height: auto;
}

.hero {
    padding: 52px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.text, .quote{
    font-size: 36px;
    color: #1F2937;
}



.text {
    font-weight: 800;
    margin-top: 32px;
}



.quote {
    font-style: italic;
}

.blockquote {
    background-color: #E5E7EB ;
    margin: auto;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;
    justify-content: flex-end;
}



.quote-footer{
    font-size: 24px;
    font-weight: bold;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 28px;
    color: #F9FAF8;
    flex-shrink: 0;
}


.box-container {
    display: flex;
    margin: 52px;
}


.box {
    border: 5px #102C57 solid;
    border-radius: 8px;
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.wrapper {
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;

}

.hero-small {
    background-color: #3882F6;
    border-radius: 8px;
    margin: 52px;
    padding: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 56px;
}
