html, body{
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}

.header-logo, .hero-header{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul, a {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    padding: 0;
    gap: 16px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6 ;
    border: none;
    color: white;
    padding: 8px 32px;
    margin: 4px 2px;
    border-radius: 8px;
    flex-shrink: 0;
    font-weight: bold;
}

.hero-button {
    align-self: flex-start;
    margin-top: 8px;
}

.banner-button {
    border: 1px solid #fff;
}

.small, 
.text-banner,
.text-links {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.small {
    width: 47%;
}

.hero-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    width: 60%;
    display: block;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

img {
    width: 625px;
    height: 325px;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 48px;
    gap: 32px;
    flex: 1;
}

.box-container {
    display: flex;
    gap: 36px;
}


.display {
    width: 150px;
    height: 150px;
}

.wrapper {
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;

}

.text, .quote{
    font-size: 36px;
    color: #1F2937;
}



.text {
    font-weight: 800;
}



.quote {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    width: 29%;
}

.quote-footer{
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    width: 45%;
   
}


.blockquote {
    background-color: #E5E7EB ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 5;
    gap: 16px;
    padding: 32px;
}



.banner-small {
    background-color: #3882F6;
    width: 35%;
    min-width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    border-radius: 12px;
    padding: 16px;
    margin: 48px;
    gap: 32px;
    flex: 2;
}

.wrapper-small {
    flex-shrink: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 32px;
    color: #F9FAF8;
    flex: 0;
}
