html, body {
    margin: 0 auto;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
.header-container {
    background-color: #1F2937;
    padding: 0 16px;
}

.header-logo.hero-header{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 400;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul, a {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    padding: 0;
    gap: 16px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6 ;
    border: none;
    color: white;
    padding: 8px 16px;
    margin: 4px 2px;
    border-radius: 8px;
}

.small {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-container{
    display: flex;
    gap: 56px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding: 32px;
}

img {
    width: 400px;
    height: auto;
}

.hero {
    padding: 52px;
    word-wrap: break-word;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    
}

.text, .quote{
    font-size: 36px;
    color: #1F2937;
}



.text {
    font-weight: 800;
    margin: 16px;
}



.quote {
    font-style: italic;
}

.blockquote {
    display: flex;
    background-color: #E5E7EB ;
    margin: auto;
    padding: 32px;
    width: auto;
    flex-wrap: wrap;    
}


.quote-footer{
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 28px;
    color: #F9FAF8;
    flex-shrink: 0;
}


.box-container {
    display: flex;
    gap: 32px;
}


.box {
    border: 5px #102C57 solid;
    border-radius: 8px;
    width: 125px;
    height: 125px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
}


